/*
Esta hoja de estilos hace que se pueda rodear la imagen de texto haciendo a esta flotante.
 */

article{
	min-height: 40em;
}

article img{
	float:left;
	width:43%;
	min-width: 15em;
	max-width: 35em;
	margin: 1% 3%;
}

