/*
    En esta hoja de estilos se especifica el estilo principal del sitio.
*/

em{
    color: #A40E2A;
}

a{
    color: #0353B5;
}

.uk-subnav-pill > .uk-active > a{
    background-color: #0353B5;
}

.uk-subnav-pill > * > :first-child{
    color: #0353B5;
}